body {
    font-family: "Roboto", sans-serif;

}
.tela-login {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;

    align-items: center;
}
.tela-login input {
    width: 261px;
    height: 54px;
    text-align: center;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    font-size: 18px;
    margin-top: 92px;
}
.logo-login {
    width: 130px;
    height: 92px;
    margin-top: 72px;
}
.entrar {
    margin-top: 20px;   
    color: #696969;
    border-radius: 9px;
    width: 109px;
    height: 45px;
    border: none;
}
.fundo-tela {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    background:rgba(0, 0, 0, 0.8);
    transition: all 150ms linear;
}
.esconder-fundo {
    display: none;
}
.menu-lateral {
    position: fixed;
    z-index: 4;
    top: 0;
    right: 0;
    width: 240px;
    height: 100%;
    transition: all 600ms linear;
    overflow-y: scroll;
    padding: 0 20px;
    background-color: #f3f3f3;
}
.esconder-lateral {
    right: -300px;
}
.titulo-lista {
    text-align: center;
    margin: 20px 0;
    padding: 0 5px;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
}
.menu-lateral li {
    font-size: 14px;
    margin: 10px 0;
    display: flex;
    align-items: center;
}
.menu-lateral ion-icon {
    margin-right: 10px;
    font-size: 20px;

}
.header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.158);
    z-index: 2;
    background-color: white;
}
.logo {
    width: 75px;
    height: 53px;
    margin-left: 22px;
}
.perfil {
    width: 35px;
    height: 35px;
    margin-right: 22px;
}
.content {
    margin: 80px 0;
    width: 100%;
    height: 100%;
    font-size: 14px;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: hidden;
}
.mensagens-content {
    overflow: scroll;
}
.content::-webkit-scrollbar {
    display: none;
}
.content li {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    line-height: 22px;
    border-radius: 2px;
    overflow: hidden;
}
.status {
    background: #DCDCDC;
}
.msgPublica {
    background: #FFFFFF;
}
.msgPrivada {
    background: #FFDEDE;
}
.footer {
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    z-index: 2;
    background-color: white;
}
.div-input {
    margin-left: 22px;
}
.footer input {
    height: 40px;
    width: 90%;
    border: none;
    margin-top: 5px;
    box-shadow: 0 0 0 0;
    outline: 0;
}
.footer input::placeholder {
    color: #000000;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
}
 button {
    border: none;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.enviando {
    color: #505050;
    font-size: 14px;
    font-weight: 300;
}
.ion-footer {
    width: 26px;
    height: 26px;
    margin-right: 22px;
}
strong {
    font-weight: 700;
}
.check {
    position: absolute;
    right: -200px;
}
.selecionado .check{
    right: 10px;
   
}
.selected .check{
    right: 10px;
}
